{
  "branch": "test",
  "noCi": false,
  "debug": true,
  "verifyConditions": [
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "prepare": [
    "@semantic-release/npm"
  ],
  "publish": [
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}