{
  "branch": "master",
  "noCi": false,
  "verifyConditions": [
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "prepare": [
    "some-plugin",
    "@semantic-release/npm"
  ],
  "publish": [
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}